{% extends 'menu-layout.html.twig' %}

{% block content %}
<div class="row">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('student.index') }}">Étudiants</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{student.Prenom}} {{student.Nom}}</li>
    </ol>
    </nav>
</div>
<div data-controller="student" class="row justify-content-md-end">
    <div class="col-4 d-flex gap-2 justify-content-md-end">
        <a class="btn btn-success btn-sm" href="{{ path('student.edit',{'id': student.id}) }}" role="button"><i class="bi bi-pencil-fill"></i> Modifier</a>
        {% if student.entries|length < 1 %}
        <a class="btn btn-danger btn-sm" href="{{ path('student.delete',{'id': student.id}) }}" role="button"><i class="bi bi-trash-fill"></i> Supprimer</a>
        {% else %}
        <span class="d-grid p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Impossible de supprimer cet étudiant, il y a encore des inscriptions !">
            <a class="btn btn-danger btn-sm disabled" href="{{ path('student.delete',{'id': student.id}) }}" role="button"><i class="bi bi-trash-fill"></i> Supprimer</a>
        </span>
        {% endif %}
    </div>
</div>
    <div class="card mt-5">
        <div class="card-header">Détails</div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">{{student.Id}}</dd>
                <dt class="col-sm-3">Prénom</dt>
                <dd class="col-sm-9">{{student.Prenom}}</dd>
                <dt class="col-sm-3">Nom</dt>
                <dd class="col-sm-9">{{student.Nom}}</dd>
                <dt class="col-sm-3">Sexe</dt>
                <dd class="col-sm-9"><i class="bi bi-gender-{{ student.Sexe ? 'male' : 'female' }}"></i></dd>
                <dt class="col-sm-3">Classe</dt>
                <dd class="col-sm-9"><a class="btn btn-link p-0" href="{{ path('class.detail',{'id': student.Class.id}) }}" role="button">{{ student.Class.Ident }}</a></dd>
            </dl>
        </div>
    </div>

{% if student.entries is not empty %}
    <div class="card mt-5">
        <div class="card-header">Inscriptions</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N° Dossard</th>
                        <th scope="col">Épreuves</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for entry in student.entries %}
                    <tr>
                        <th scope="row">{{entry.NoDos}}</th>
                        <td>{{ entry.Test.Name }}</td>
                        <td width="50px">
                            <a class="btn btn-primary btn-sm" href="{{ path('entry.detail',{'id': entry.id}) }}" role="button"><i class="bi bi-eye-fill"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endblock %}
