{% extends 'menu-layout.html.twig' %}

{% block content %}
<div class="row">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('class.index') }}">Classes</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{class.Ident}}</li>
    </ol>
    </nav>
</div>
<div data-controller="class" class="row justify-content-md-end">
    <div class="col-4 d-flex gap-2 justify-content-md-end">
        <a class="btn btn-success btn-sm" href="{{ path('class.edit',{'id': class.id}) }}" role="button"><i class="bi bi-pencil-fill"></i> Modifier</a>
        {% if class.students|length < 1 %}
        <a class="btn btn-danger btn-sm" href="{{ path('class.delete',{'id': class.id}) }}" role="button"><i class="bi bi-trash-fill"></i> Supprimer</a>
        {% else %}
        <span class="d-grid p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Impossible de supprimer cette classe, il y a encore des étudiants !">
            <a class="btn btn-danger btn-sm disabled" href="{{ path('class.create')}}" role="button"><i class="bi bi-trash-fill"></i> Supprimer</a>
        </span>
        {% endif %}

    </div>
</div>
    <div class="card mt-5">
        <div class="card-header">Détails</div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">{{class.Id}}</dd>
                <dt class="col-sm-3">Identifiant</dt>
                <dd class="col-sm-9">{{class.Ident}}</dd>
                <dt class="col-sm-3">Niveau</dt>
                <dd class="col-sm-9">{{class.Niv}}</dd>
                <dt class="col-sm-3">Nombre d'étudiants</dt>
                <dd class="col-sm-9">{{ class.students|length }}</dd>
            </dl>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">Étudiants</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Sexe</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for student in class.students %}
                    <tr>
                        <th scope="row">{{student.id}}</th>
                        <td>{{ student.Prenom }}</td>
                        <td>{{ student.Nom }}</td>
                        <td><i class="bi bi-gender-{{ student.Sexe ? 'male' : 'female' }}"></i></td>
                        <td width="50px">
                            <a class="btn btn-primary btn-sm" href="{{ path('student.detail',{'id': student.id}) }}" role="button"><i class="bi bi-eye-fill"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
