{% extends 'menu-layout.html.twig' %}
{% block content %}
<div data-controller="class" class="row g-4 row-cols-1 row-cols-lg-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Classes</li>
        </ol>
    </nav>
</div>
<div class="row g-4 row-cols-1 row-cols-lg-5 justify-content-md-end">
    <span class="d-grid p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Feature désactivée dans cette version">
        <a class="btn btn-success btn-sm disabled" href="{{ path('class.create')}}" role="button">Créer une classe</a>
    </span>
</div>
<div class="row g-4 row-cols-1 row-cols-lg-5">
    <table class="table table-hover table-striped ">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Identifiant</th>
            <th scope="col">Niveau</th>
            <th scope="col">Nombre d'étudiants</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for class in classes %}
            <tr>
                <th scope="row">{{ class.id}}</th>
                <td>{{ class.ident }}</td>
                <td>{{ class.niv }}</td>
                <td>{{ class.students|length }}</td>
                <td width="50px">
                    <a class="btn btn-primary btn-sm" href="{{ path('class.detail',{'id': class.id}) }}" role="button"><i class="bi bi-eye-fill"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'shared/flash.html.twig' %}
{% endblock %}
